name: ingest-data

on:
  workflow_dispatch:
  #schedule:
  #  - cron: "22 2 * * *"

jobs:
  ingest:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10" #install the python needed

      - name: Install dependencies
        run: python -m pip install --upgrade pip requests # Install the dependencies (if needed)

      - name: Execute python script
        run: |
          python dl_forex.py

      - name: Push results
        run: |
          git config --global user.name 'GithubActions'
          git config --global user.email 'github-actions@users.noreply.github.com'
          git add data/
          git commit -am "[bot] Ingest data"
          git push
